body {
  margin: 0;
  padding: 0;
  background-color: #afd6de;
  font-family: "Pragati Narrow", sans-serif;
}

p,
h1 {
  margin: 0;
}

h1 {
  font-size: 2.3rem;
  padding: 1em 3em;
}

p {
  font-size: 1.3rem;
  padding: 1em 5em;
}
.cover {
  margin: 1em 16em;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text1 {
  animation: pulse 5s infinite;
}
@keyframes pulse {
  0% {
     background-color: #f1b6eb;
   }
   100% {
      background-color: #afd6de;
  }
}
.text2 {
  animation: pulse1 5s infinite;
}
@keyframes pulse1 {
  0% {
     background-color: #e26ad6;
}
100% {
   background-color: #f1b6eb;
  }
}
.text3 {
  animation: pulse2 5s infinite;

}
@keyframes pulse2 {
   0% {
     background-color: #f1b6eb;
   }
   100% {
     background-color: #afd6de;
   }
 }

.text4 {
  background-color: #e2f1cf;
  animation: pulse3 5s infinite;

}
@keyframes pulse3 {
   0% {
      background-color: #afd6de;
   }
   100% {
      background-color: #e2f1cf;
   }
 }
.text5 {
  background-color: #f0f1b6;
  animation: pulse4 5s infinite;

}
@keyframes pulse4 {
   0% {
     background-color: #e2f1cf;
   }
   100% {
     background-color: #f0f1b6;
   }
 }
.text6 {
   animation: pulse5 5s infinite;

}
@keyframes pulse5 {
   0% {
      background-color: #f0f1b6;
   }
   100% {
      background-color: #f1d6b6;
   }
 }
.text7 {
   animation: pulse6 5s infinite;

}
@keyframes pulse6 {
   0% {
     background-color: #f1d6b6;
   }
   100% {
     background-color: #ea5757;
   }
 }
.text8 {
   animation: pulse7 5s infinite;

}
@keyframes pulse7 {
   0% {
      background-color: #ea5757;
   }
   100% {
      background-color: #afd6de;
   }
 }
.text9 {
   animation: pulse8 5s infinite;

}
@keyframes pulse8 {
   0% {
     background-color: #afd6de;
   }
   100% {
     background-color: #f1b6eb;
   }
 }
.text10 {
   animation: pulse9 5s infinite;

}
@keyframes pulse9 {
   0% {
      background-color: #f1b6eb;
   }
   100% {
      background-color: #f6e5f5;
   }
 }
.text11 {
   animation: pulse10 5s infinite;
}
@keyframes pulse10 {
   0% {
     background-color: #f6e5f5;
   }
   100% {
     background-color: #f1b6eb;
   }
 }
